[submodule "external/zydis"]
	path = external/zydis
	url = https://github.com/zyantific/zydis
[submodule "external/asmtk"]
	path = external/asmtk
	url = https://github.com/asmjit/asmtk
[submodule "external/asmjit"]
	path = external/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "external/ImGuiColorTextEdit"]
	path = external/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
	branch = Lib_Only
